*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    background-color: #ecf0ec;
    font-family: sans-serif;
}
.head{
    border-radius: 30%;
    color:brown;
}
#container{
    height:100vh;
display:flex;
justify-content: center;
align-items: center;
background-color:  #ecf0ec;
}
#calculator{
    width: 260;
  
    background-color:rgba(0, 0, 0, 0.9);
    padding:16px;
    border-radius: 35px;
    box-shadow: inset 5px 5px 10px,
                      5px 5px 12px rgba(0, 0,0, 0.16);
 display:grid;
 grid-template-columns: repeat(4,70px);

}
input{
    grid-column: span 4;
    width:260px;
    height:70px;
    background-color: #ecf0ec ;
    box-shadow: inset -5px -5px 10px #ffff,
                      5px 5px 12px rgba(0, 0,0, 0.16);
                      border: none;
                      border-radius: 30px;
                      color: brown;
   text-align: end;
   font-size: 50px;
   margin:auto;
   margin-top: 30px;
   margin-bottom: 30px;
}
button{
    height:50px;
    width: 50px;
    color: brown;
    background-color: #2a3f2a;
    box-shadow: inset -5px -5px 10px,
                      5px 5px 12px rgba(0, 0,0, 0.16);
                      border-radius: 50%;
                      border:none;
                      margin: 10px;
                      font-size: 20px;
}
.equal{
    width:110px;
    border-radius:40px;
    color: brown;
    background-color: #2a3f2a;
    box-shadow: inset -5px -5px 10px ,
                      5px 5px 12px rgba(0, 0,0, 0.16);
}
